html {
    background-color: #f8f9fa;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.uk-card-default {
    color: #171717;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
}
.app-sidebar {
    background:#ffffff;
    -webkit-box-shadow: 4px 0.25rem 0.3rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 4px 0.25rem 0.3rem 0 rgba(0, 0, 0, 0.05);
}

.app-sidebar-card-default {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.app-footer {
    padding: 10px;
    -webkit-box-shadow: 0 0.25rem 0.3rem 8px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0.25rem 0.3rem 8px rgba(0, 0, 0, 0.07);
}

.uk-card-solid {
    border-bottom: 1px solid #e7edf3;
}

.uk-card-body {
    padding: 20px 20px!important;
}

.uk-logo {
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

.ico-margin-small {
    margin-right:5px;
}
.ico-margin-large {
    margin-right:10px;
}

.uk-alert {
    margin-bottom: 0;
    border-bottom: 1px solid #e7edf3;
}
.uk-navbar-nav>li>a {
     font-size: 1.05rem;
     color: #191919;
 }