.uk-navbar-container:not(.uk-navbar-transparent) {
    border-bottom: 2px solid #567aff;
}
.uk-card-default {
    border-bottom: 1px solid #e6e6e6;
}
.uk-card-body {
    padding: 20px 20px;
}
.uk-text-danger {
    color: #c250f0!important;
}
.uk-text-success {
    color: #48b189!important;
}
.uk-text-emphasis {
    color: #f9ff00!important;
    text-shadow: 1px 1px #a2a2a2;
}
.uk-comment-title {
    font-size: 1rem;
}
.ico-margin {
margin-top: 2px;
margin-right: 4px;
}
.uk-card-body .uk-nav-default>li>a {
    padding-left: 0px;
}
.uk-notification-message {
    background: #ffffff;
    border: 2px solid #00ff37;
}

.instance {
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    border-radius: 4px 4px 0px 0px;
}